.movri-different.text-center
  %h1.title= grid.heading
  .row
    - text_styles = grid_styles(grid)
    - grid.store_grid_items.each do |item|
      - style = "color: #{item.text_color};"
      .col-6.p-relative
        .assurred-quality
          = image_tag item.image.url, class: "assured_quality"
        %p.p-absolute.grid-desc{class: grid.text_alignment, style: style}= item.text
          
