%script{:async => "", :src => "//static.klaviyo.com/onsite/js/klaviyo.js?company_id=HLsMny", :type => "text/javascript"}
:javascript
  var _learnq = _learnq || [];
  _learnq.push(["track", "Fulfilled Order", JSON.parse('#{ raw @fulfill_data.to_json }')]);
  window.location.href = '#{fulfill_data_step_2_admin_community_transaction_path(@current_community, @order)}'
