#search-history.search-dropdown
  .suggestionsBrandsCategories.js-suggestionsBrandsCategories
    .suggestions.clearfix
      .search-title History
      %ul.search-description.history-keywords
        %li.no-history-keyword
          %a{href: "#"}
            %span.link-text.ta-ellipsis No keyword