.search-results.search-dropdown
  .suggestionsBrandsCategories.js-suggestionsBrandsCategories
    .suggestions.clearfix
      .search-title Suggestions
      %ul.search-description
        -# %li
        -#   %a{"data-search-input" => "ring spotlight cam battery", "data-sts" => "-ps", :href => "/c/search?Ntt=ring%20spotlight%20cam%20battery&N=0&InitialSearch=yes&sts=ps", :title => "ring spotlight cam battery"}
        -#     %span.link-text.ta-ellipsis ring spotlight cam battery
        -# %li
        -#   %a{"data-search-input" => "blackmagic design pocket cinema camera 6k", "data-sts" => "-ps", :href => "/c/search?Ntt=blackmagic%20design%20pocket%20cinema%20camera%206k&N=0&InitialSearch=yes&sts=ps", :title => "blackmagic design pocket cinema camera 6k"}
        -#     %span.link-text.ta-ellipsis
        -#       blackmagic design pocket cinema
        -#       %strong camera
        -#       6k
        -# %li
        -#   %a{"data-search-input" => "blackmagic design pocket cinema camera 6k", "data-sts" => "-ps", :href => "/c/search?Ntt=blackmagic%20design%20pocket%20cinema%20camera%206k&N=0&InitialSearch=yes&sts=ps", :title => "blackmagic design pocket cinema camera 6k"}
        -#     %span.link-text.ta-ellipsis
        -#       blackmagic design pocket cinema
        -#       %strong camera
        -#       6k
        -# %li
        -#   %a{"data-search-input" => "blackmagic design pocket cinema camera 6k", "data-sts" => "-ps", :href => "/c/search?Ntt=blackmagic%20design%20pocket%20cinema%20camera%206k&N=0&InitialSearch=yes&sts=ps", :title => "blackmagic design pocket cinema camera 6k"}
        -#     %span.link-text.ta-ellipsis
        -#       blackmagic design pocket cinema
        -#       %strong camera
        -#       6k
        -# %li
        -#   %a{"data-search-input" => "blackmagic design pocket cinema camera 6k", "data-sts" => "-ps", :href => "/c/search?Ntt=blackmagic%20design%20pocket%20cinema%20camera%206k&N=0&InitialSearch=yes&sts=ps", :title => "blackmagic design pocket cinema camera 6k"}
        -#     %span.link-text.ta-ellipsis
        -#       blackmagic design pocket cinema
        -#       %strong camera
        -#       6k

  .suggestedItems.js-suggestedItems
    .possibleItemMatch
      .search-title Possible Item Matches
      .possibleItemMatch-items.search-description.clearfix
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II
        -# .possibleItemMatch-item
        -#   .possibleItemImage
        -#     %img{src: 'https://previews.123rf.com/images/cobalt/cobalt1701/cobalt170100020/69276401-camera-photo-lens-vector-illustration.jpg'}
        -#   .possibleItemContent
        -#     %p
        -#       Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II Panasonic Lumix G Vario 100-300mm f/4-5.6 II