-# #search-results.search-dropdown
-#   .suggestionsBrandsCategories.js-suggestionsBrandsCategories
-#     .suggestions.clearfix
-#       .search-title HISTORY
-#       %ul.search-description.history-keywords

-#   .suggestedItems.js-suggestedItems
-#     .possibleItemMatch
-#       .search-title Possible Item Matches
-#       .possibleItemMatch-items.search-description.clearfix
