.possibleItemMatch-item
  .possibleItemImage
    - if search_item.listing_images.first
      = image_tag search_item.listing_images.first[:medium]
  .possibleItemContent
    %p
      = search_item.title