.ais-InstantSearch
  .right-panel
    .display-flex.align-items-center
      .searchbox-algolia
      .header-search-icon.display-flex.align-items-center.justify-content-center
        = image_tag("homepage_icons/search.svg", class: '')
    .search-result-algolia.common-box.padding-0
      %span.snize-label.block.align-right POPULAR SUGGESTIONS
      .suggestion-items
      %span.snize-label.block.align-right PRODUCTS
      .product-items.snize-ac-results
        .snize-ac-results-column
      %span.snize-label.block.align-right CATEGORIES
      #suggestion-categories
      %span.snize-label.block.align-right PAGES
      .page-items
        .item
          %i.fa.fa-info-circle.padding-5
            %span Contact Us
        .item
          %i.fa.fa-info-circle.padding-5
            %span Privacy Policy
        .item
          %i.fa.fa-info-circle.padding-5
            %span Shipping