.include-box
  .title
    In the Box
  %ul.include-items
    %li Canon LP-E6N Lithium-Ion Battery Pack
    %li Canon LC-E6 Charger for LP-E6 Battery Pack
    %li Canon ER-100B Neck Strap
    %li Canon LP-E6N Lithium-Ion Battery Pack
    %li Canon LC-E6 Charger for LP-E6 Battery Pack
    %li Canon ER-100B Neck Strap
    %li Canon LP-E6N Lithium-Ion Battery Pack
    %li Canon LC-E6 Charger for LP-E6 Battery Pack
    %li Canon ER-100B Neck Strap

.not-include-box
  .title
    Not in the Box
  %ul.include-items
    %li
      %label.essentia-item-label
        Essentia
        .shape
      %span.essentia-item-name
        Memory Cards
      %span.essentia-item-not-include
        (Not Included)
    %li
      %label.essentia-item-label
        Essentia
        .shape
      %span.essentia-item-name
        Lenses
      %span.essentia-item-not-include
        (Not Included)
