- if @listing.in_the_box_tab && @listing.in_the_box_tab.is_active
  - if @listing.in_the_box_tab.description.present?
    .include-box
      .title.capitalize
        = @listing.in_the_box_tab.title
      .include-items
        = safe_join([raw(@listing.in_the_box_tab.description)])
- if @listing.not_in_the_box_tab && @listing.not_in_the_box_tab.is_active
  - if @listing.not_in_the_box_tab.description.present?
    .not-include-box
      .title.capitalize
        = @listing.not_in_the_box_tab.title
      .include-items
        = safe_join([raw(@listing.not_in_the_box_tab.description)])