.listing-breadcrumbs
  %div
    .listing-breadcrumb.flex-items
      %span.capitalize= link_to 'Home', homepage_with_locale_path
      - if params[:category]
        %i.fa.fa-chevron-right
        %span.capitalize= params[:category].gsub("-", " ")
      - if params[:subcategories]
        %i.fa.fa-chevron-right
        %span.capitalize= link_to params[:subcategories], categories_path(category: params[:category], subcategories: params[:subcategories])
      - if params[:children_categories]
        %i.fa.fa-chevron-right
        %span.capitalize= link_to params[:children_categories].gsub("-", " "), categories_path(category: params[:category], subcategories: params[:subcategories], children_categories: params[:children_categories])

- content_for :extra_javascript do
  :javascript
    window.history.replaceState(null, null, window.location.pathname);