.specification
  %table.table.col-11.tab-content#spec_tab
    %tbody
      %tr
        %td{width: '40%'} Focal Length
        %td 85mm
      %tr
        %td{width: '40%'} Maximum Aperture
        %td f/1.4
      %tr
        %td{width: '40%'} Minimum Aperture
        %td f/16
      %tr
        %td{width: '40%'} Focal Length
        %td 85mm
      %tr
        %td{width: '40%'} Maximum Aperture
        %td f/1.4
      %tr
        %td{width: '40%'} Minimum Aperture
        %td f/16
      %tr
        %td{width: '40%'} Focal Length
        %td 85mm
      %tr
        %td{width: '40%'} Maximum Aperture
        %td f/1.4
      %tr
        %td{width: '40%'} Minimum Aperture
        %td f/16
      %tr
        %td{width: '40%'} Focal Length
        %td 85mm
      %tr
        %td{width: '40%'} Maximum Aperture
        %td f/1.4
      %tr
        %td{width: '40%'} Minimum Aperture
        %td f/16
  %table.table.col-11.tab-content#overview_tab
    %tbody
      %tr
        %td{width: '40%'} overview
        %td Doe
      %tr
        %td{width: '40%'} Mary
        %td Moe
      %tr
        %td{width: '40%'} July
        %td Dooley
  %table.table.col-11.tab-content#review_tab
    %tbody
      %tr
        %td{width: '40%'} review
        %td Doe
      %tr
        %td{width: '40%'} Mary
        %td Moe
      %tr
        %td{width: '40%'} July
        %td Dooley