.recommended-accessories-container.col-12
  .recommended-accessories-title
    Recommended Accessories
    .recommended-accessories-view-all
      %a{href: '#'}
        View All >
  .recommended-accessories-list
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart
    .row.col-3.recommended-accessories-item
      .col-4
        %a{:href => "#"}
          %img.img-responsive{:alt => "", :src => "http://placehold.it/98x98"}/
      .col-8
        .recommended-accessories-listing-title
          B+W 77mm UV Haze MRC 010M Filter
        .recommended-accessories-listing-price
          $44.95
        %button.recommended-accessories-add-to-cart
          Add to Cart