- with_image_frame(@listing) do |reason, listing_images|
  - if reason == :images_ok
    .listing-image-carousel.right
      - if @listing_presenter.prev_image_id && @listing_presenter.next_image_id
        .col-1
          %ul#image-list
            - listing_images.each do |listing_image|
              %li
                %a{:href => "Javascript:void(0)"}
                  %img{:alt => "", :src => "http://placehold.it/51x51"}/
                  -# = image_tag(listing_image.image(:thumb))
        #slideshow-main.right.col-11
          %ul#slideshow-list
            - listing_images.each do |listing_image|
              %li
                %a{:href => "Javascript:void(0)"}
                  -# = image_tag(listing_image.image(:original))
                  %img{:alt => "", :src => "http://placehold.it/540x540"}/
      -# #listing-image-frame

      -# - if @listing_presenter.prev_image_id && @listing_presenter.next_image_id
      -#   = link_to params.permit(:id, :locale).merge(image: @listing_presenter.prev_image_id), class: "listing-image-navi listing-image-navi-left", id: "listing-image-navi-left" do
      -#     .listing-image-navi-arrow-container
      -#       .listing-image-arrow-icon-container.left
      -#         = icon_tag("directleft", ["navigate-icon-fix", "listing-image-navi-arrow"])
      -#   = link_to params.permit(:id, :locale).merge(image: @listing_presenter.next_image_id), class: "listing-image-navi listing-image-navi-right", id: "listing-image-navi-right" do
      -#     .listing-image-navi-arrow-container
      -#       .listing-image-arrow-icon-container.right
      -#         = icon_tag("directright", ["navigate-icon-fix", "listing-image-navi-arrow"])
    -# #thumbnail-stripe.listing-image-thumbnail-stripe

    - content_for :extra_javascript do
      :javascript
        var listingImages = #{raw listing_images.map { |image| ListingImageJsAdapter.new(image) }.to_json }
        var currentImage = #{params[:image].present? ? params[:image].to_i : listing_images.first.id};
        ST.listingImages(listingImages, currentImage);

        function intializeSlide() {
          $('#slideshow-list li:first-child').eq(0).show().siblings().hide();
          $('#image-list li:first-child').addClass('active').siblings().removeClass('active');
        }

        intializeSlide();

        $('#image-list li').click(function () {
          var clickIndex = $(this).index()
          $('#slideshow-list li').eq(clickIndex).show().siblings().hide();
          $(this).addClass('active').siblings().removeClass('active');
        });
  - else
    .listing-image-text-container
      .listing-image-frame
        .listing-image-frame-content
          .listing-image-vertical-centering
            .listing-no-image
              - if reason == :images_processing
                = t("listings.show.processing_uploaded_image")
              - else
                = t(".no_description")