.desktop-display
  .row
    .col-12
      .account-info-form.white-background.padding-20
        %span.account-header Payment Option
        %p.fz-14 Manage saved credit cards. New payment methods may only be added in checkout due to verification requirements.
