.brown-background.padding-10
  .account-section
    .wrapper
      - if params[:view] == 'info'
        = render partial: 'people/user_info'
      - else
        = render partial: 'people/user_orders'
