.row.helpful-link-section.br-bottom
  .wrapper
    .col-12
      = render partial: "homepage/more_helpful_links"
      .helpful-link-btn
        %span.fa-fw= I18n.t("footer.helpful_link_btn")
        %i.icon-plus
