- if helpful_section.enabled?
  .row.helpful-link-section.br-bottom.br-top.footer
    .wrapper
      .col-12
        = render "homepage/more_helpful_links", helpful_section: helpful_section
        .helpful-link-btn.font-open-sans
          %span.fa-fw= I18n.t("footer.helpful_link_btn")
          %i.icon-plus
