@import "mixins/all";
@import "compass/css3/background-size";

/* Height of the whole header bar */
$headerHeight: lines(2.5);

/* Height of an element (i.e. button) in the header bar */
$elementHeight: em(40);

/* Element padding, i.e. empty space on the top and below of the element */
$elementPadding: ($headerHeight - $elementHeight) / 2;

/* Line heights, add -3px finetuning, text looks better */
$buttonLineHeight: $elementHeight - em(3);
$textLineHeight: $headerHeight - em(3);

/* Default spacing between header bar elements */
$elementSpacing: lines(0.5);

@media screen and (max-width: 500px) {
  .info-header {
    display: none;
  }

  .my-account-contain .header-login .login-contain .sign-out-btn .logout-contain {
    width: 40%;
  }

  .my-account-contain {
    width: 20.5rem;
  }

  #header-user-toggle-menu {
    left: 10px !important;
  }

  .header-menu-container {
    padding: 0 !important;
  }
  
  .header-search-box {
    margin: 0px 10px !important;
    margin-right: 0 !important;
  }

  .header-nav {
    padding: 20px 0px !important;
  }

  .header-search-contain {
    width: 77% !important;
  }

  .header-search-logged-in {
    width: 61% !important;
  }
}

.header-search-contain {
  width: 70%;

  &.header-search-logged-in {
    width: 55%;
  }
}

.header-search-box {
  margin: 0px 20px;
  margin-right: 0;
  display: flex;
  position: relative;

  .header-search-input {
    height: 60px;
    width: 100%;
    border-width: 1px;
    border-radius: 0px;
    outline: none;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    opacity: 0.5;
  }

  .header-search-btn {
    margin: 0px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: x-large;
    -webkit-text-stroke: 1px white;
    opacity: 0.5;
    cursor: pointer;
  }
}

.header {
  height: 6.25rem;
  width: 100%;
  background-color: #e8e9ea;
  color: #707070;
}

.header-nav {
  padding: 20px 0px;
  background: #e8e9ea !important;
}

.info-header {
  background-color: #e8e9ea;
  height: 2.5em;
  border-bottom: 1px solid #c2c2c2;

  .header-about-us {
    margin-top: 2px;
  }

  .header-wrapper {
    background-color: #e8e9ea;
  }

  .history-since-text {
    color: #7a9f5c;
    font-size: 16px !important;
    letter-spacing: -0.6px;
  }

  .info-header-text {
    padding: 0.4375em 2em;
    font-size: 14px;

    .smbold {
      font-weight: 600;
      line-height: 26px;
    }
  }

  .header-right {
    .info-header-text {
      &:last-child {
        padding-right: 0em;
      }
    }
  }

  .header-left {
    .info-header-text {
      &:first-child {
        padding-left: 0em;
      }

      small {
        padding: 3.7px;
        border: 1px solid;
        border-radius: 5px;
        text-align: left;
      }
    }
  }
}

.header-wrapper {
  @include wrapper(0);
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

/* Buttons may need padding, text links don't */
.header-padding {
  margin-left: $elementSpacing;
}

/* Vertically centered block element in header bar */
@mixin header-block {
  display: block;
  margin-top: $elementPadding;
  margin-bottom: $elementPadding;
  height: $elementHeight;
}

.header-hover {
  &:hover {
    background-color: $highlight;
  }

  &.toggled {
    background-color: $light-body;
  }
}

.header-logo {
  display: block;
  @include header-block;
  margin-top: 15px;
}

.header-text-link {
  height: $headerHeight;
  line-height: $textLineHeight;
  padding-right: $elementSpacing;
  padding-left: $elementSpacing;
  display: block;
  color: $body;

  &:hover {
    color: $body;
  }

  .toggled & {
    color: $background;
  }
}

@mixin header-menu-button($bgcolor) {
  @include button($bgcolor);
  @include header-block;
  padding-left: em(20);
  padding-right: em(20);
  line-height: $buttonLineHeight;
}

.new-listing-link {
  @include header-menu-button($link2);
  max-width: em(200);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-menu-container {
  display: inline-table;
  padding: $elementPadding $elementSpacing;
  height: $headerHeight;

  &.toggled {
    background-color: #ababab !important;
    border-color: #ababab !important;
  }
}

.header-user-contain {
  padding-bottom: 0;
  padding-top: 0;

  .display-inline-flex {
    .myaccount-header {
      line-height: 18px;
    }

    .visible-tablet-inline small {
      text-align: left;
    }
  }
}

.header-user-container {
  display: inline-table;
  padding: $elementPadding $elementSpacing;
  height: $headerHeight;
  
  &.toggled {
    background-color: #ababab !important;
    border-color: #ababab !important;
  }
}

.header-menu-toggle-container {
  @include button($highlight);
  @include button-group-button-padding;
  height: $elementHeight;
  line-height: $buttonLineHeight;
  margin: 0;
  padding: 0px 1.5em;
  color: $body;
  border-radius: 0;
  pointer-events: none;
  color: #707070;  

  .toggled & {
    color: $background;
    background-color: #ababab;
  }

  .display-inline-flex {
    margin-top: 10px;
  }
}

.icon-movri-chat,
.icon-movri-info {
  height: 22px;
}

.icon-movri-user {
  height: 35px;
}

.header-menu-icon {
  @include icon-fix-more;
  @include media(tablet) {
    padding-right: em(4);
  }
}

.header-user-avatar {
  @include border-radius($default-border-radius);
  @include header-block;
}

.header-user-toggle {
  padding-left: $elementSpacing;
  display: block;
  @include clearfix;
  padding-left: 0;
}

@mixin header-toggle-menu {
  min-width: em(200);
  position: absolute;
}

.header-toggle-menu-language {
  @include header-toggle-menu;
}

.header-toggle-menu-user {
  @include header-toggle-menu;
}

.header-toggle-menu-menu {
  @include header-toggle-menu;
  min-width: 12.6em;
}

.header-inbox-link {
  color: $body;

  position: relative;
}

.header-inbox {
  @include big-type;

  // Icon fix
  position: relative;
  top: em(4);
}

.badge {
  position: absolute;
  top: em(30); // Magic, just looks good
  left: em(23); // Magic, just looks good
  background: $link;
  color: $background;
  @include badge(20px);

  &.big-badge {
    @include badge(26px);
    top: em(28); // Magic, just looks good
    left: em(18); // Magic, just looks good
  }

  &.huge-badge {
    @include badge(32px);
    top: em(27); // Magic, just looks good
    left: em(13); // Magic, just looks good
  }
}

.mobile-badge {
  display: inline-block;
  color: $light-body;
  background-color: $background;
  @include badge(20px);
  margin-left: lines(0.5);
}

.header-wide-logo-text,
.header-square-logo-text {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: em(28);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-weight: 800;
}

.header-wide-logo-text {
  @include ellipsis;
  width: rem(150);
  height: rem(40);
}

.header-square-logo-text {
  width: rem(40);
  height: rem(40);
}

.header-wide-logo {
  background-image: url(image-path($wide-logo-lowres-url));

  @include highres {
    background-image: url(image-path($wide-logo-highres-url));
  }

  width: em(168);
  height: em(40);

  // Highres image
  background-repeat: no-repeat;
  @include background-size(em(168) auto);

  display: inline-block;
}

.header-square-logo {
  background-image: url(image-path($square-logo-lowres-url));

  @include highres {
    background-image: url(image-path($square-logo-highres-url));
  }

  width: em(40);
  height: em(40);

  // Highres image
  background-repeat: no-repeat;
  @include background-size(em(40) auto);

  display: inline-block;
}

.header-login-logged-in {
  height: auto !important;
}

.account-actions-logged-in {
  background-color: #ffffff !important;
}

.my-account-contain {
  width: 360px;
  height: 309px;
  border: 1px solid #ababab;

  .header-login {
    background: #ffffff;
    height: 222px;

    .login-contain {
      padding: 20px 40px;

      .login-title {
        margin: 0 auto;
        height: 31px;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 10px;

        p {
          color: #707070;
          font-size: 18px;
        }
      }

      .sign-up-button,
      .sign-in-button {
        text-align: center;
        width: 100%;
        height: 50px;
        border-radius: 4px;
      }

      .sign-in-btn {
        margin: 0 auto;
        height: 50px;
        margin-bottom: 20px;
        background-color: #13578d;
        border-radius: 4px;
      }

      .sign-out-button {
        color: #707070;
        display: inline;
        font-size: 14px;

        &:hover {
          background-color: #ffffff;
          color: #707070;
        }
      }

      .sign-out-btn {
        display: inline;

        .logout-contain {
          width: 33%;
          margin: 0 auto;

          .icon-movri-signout {
            margin-right: -6px;
          }
        }
      }

      .sign-up-btn {
        margin: 0 auto;
        height: 50px;
        
        .sign-up-button {
          border: 1px solid #212121;
          color: #000000;
          background-color: #ffffff;
        }
      }

      .profile-pic {
        background: #b3b3b3;
        width: 62px;
        height: 62px;
        border-radius: 31px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        position: relative;

        .icon-movri-user {
          top: 20%;
          left: 20%;
          position: absolute;
        }
      }

      .profile-name {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }

  button {
    outline: none;    
  }

  .account-actions {
    height: 85px;
    background-color: #eeeeee;

    .account-wrap {
      width: 100%;
    }

    .action-item {
      width: 100%;
      position: relative;
      cursor: pointer;
      padding-right: 0;
      padding-left: 0;

      &:hover {
        opacity: .8;
      }

      img {
        position: absolute;
        top: 20%;
        left: 39%;
        height: 32px;

        &.icon-movri-account {
          top: 15px;
        }
      }

      p {
        position: absolute;
        top: 55%;
        left: 32%;
        font-size: 11px;
      }
    }
  }
}