.listing-form-wrap {
  margin-left: -0.75em;
  margin-right: -0.75em;
  padding: 0 0.75em;
  background: #f4f6f8;

  #listing_country_of_origin,
  #listing_province_of_origin {
    border: 1px solid #c4cdd5;
    height: 36px;
    width: 100%;
    outline: none;
  }

  input {
    outline: none;
  }

  .js-form-fields .form-listing-wrap {
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #e1e3e5;

    label {
      font-weight: normal;
      font-size: 13px;

      &.input {
        font-weight: 600;
      }
    }

    input, textarea {
      border: 1px solid #c4cdd5;
      font-size: 14px;
    }

    input {
      min-height: 36px;
    }
  }

  .form-listing-title {
    font-size: 24px;
    color: #212C36;
  }

  .form-listing-title,
  .form-list-action {
    margin-bottom: 10px;
  }

  .form-listing-group {
    .col-12 {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .form-input-wrap {
    padding-left: 0;
  }

  .form-list-action {
    padding-left: 0;

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      display: inline;
      margin-right: 20px;
      font-size: 14px;
      color: #637381;
    }
  }

  .form-listing-related {
    .form-listing-wrap {
      margin-top: 10px;
      background: #f9fafc;

      &:first-child {
        margin-top: 0;
      }

      &.form-packing-dimension {
        .add-piece-button {
          border: 1px solid #e1e3e5;
          color: #000;
          background: none;
          height: 36px;
          font-size: 14px;
          float: right;
          padding: 5px;
          cursor: pointer;
        }

        .packing-dimension-item {
          padding-bottom: 5px;
          border-bottom: 1px solid;
          position: relative;

          .col-3,
          .col-2 {
            padding-right: 0;

            &:last-child {
              padding-right: 0.75em;
            }
          }

          .remove-packing-dimension {
            position: absolute;
            top: 40px;
            right: 0;
            cursor: pointer;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .packing-dimension-attributes {
        font-size: 14px;
      }

      .recommended-accessories-list {
        margin-top: 20px;

        .recommended-accessory-item {
          border-bottom: 1px solid #e1e3e5;
          font-size: 14px;
          padding: 5px 0px;

          &:last-child {
            border-bottom: 0;
          }

          .icon-ellipsis-vertical:nth-child(2) {
            margin-right: 5px;
          }

          .icon-remove {
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }

      .form-organization,
      .form-collections {
        padding-bottom: 20px;
        border-bottom: 1px solid #e1e3e5;
      }

      .tags-list {
        margin-top: 20px;
        font-size: 14px;

        ul {
          padding-left: 0;

          li {
            list-style: none;
            display: inline-flex;
            padding: 3px 10px;
            background: #e0e2e7;
            margin-bottom: 5px;
            margin-right: 10px;
            position: relative;
            padding-right: 20px;

            i {
              position: absolute;
              top: 8px;
              right: 5px;
            }
          }
        }
      }
    }

    .form-blocked-dates {
      .add-blocked-dates-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #e1e3e5;
        color: #000;
        background: none;
        height: 36px;
        font-size: 14px;
        float: right;
        padding: 5px;
        cursor: pointer;
      }
    }

    .add-blocked-dates-button {
      border: 1px solid #e1e3e5;
      color: #000;
      background: none;
      height: 36px;
      font-size: 14px;
      float: right;
      padding: 5px;
      cursor: pointer;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .fileupload {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .fileupload-text-container {
    width: 100%;
    height: 100%;
    border: none;
  }

  .upload-image-placeholder {
    float: left;
    border: #DFE3E8 1px solid;
    padding: 10px;
    border-radius: 4px;

    &:last-child {
      border: #DFE3E8 1px dashed;
    }
  }

  .user_manual_upload {
    display: inline-flex;
    width: 8.5em;
    height: 8.5em;
    border-radius: 10px;
    border: #DFE3E8 1px dashed;
    margin-right: 0.75em;
    margin-bottom: 0.75em;

    .fileupload-text {
      span {
        font-size: 14px;
        color: #5091C8;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .listing_weight_text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
  }

  #listing_weight_type {
    position: absolute;
    border: 1px solid #c4cdd5;
    border-left: 0;
    border-top-left-radius: 0;
    -webkit-appearance: inherit;
    border-bottom-left-radius: 0;
    padding-top: 6px;
    min-height: 0;
  }

  .listing-weight-wrap {
    position: relative;

    .icon-caret-up {
      top: 6px;
    }

    .icon-caret-down {
      top: 15px;
    }

    i {
      position: absolute;
      font-size: 14px;
      right: -55px;
    }
  }

  #listing_product_type,
  #listing_collection {
    border: 1px solid #c4cdd5;
    height: 36px;
    width: 100%;
    outline: none;
  }

  .recommended-accessories-wrap {
    position: relative;

    .selectize-recommended-accessories-result {
      padding-left: 0;
      border: 1px 1px 0px 1px solid #d0d0d0;
      border-top: 0;
      position: absolute;
      width: 100%;
      background: #f9fafc;
      top: 60px;
      z-index: 999;

      li {
        list-style: none;
        padding: 5px;
        font-size: 14px;
      }
    }
  }

  .form-pricing-dates {
    .col-6 {
      padding-left: 1px !important;
      padding-right: 1px !important;
    }
  }
}
