@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";

input,
button {
  outline: none !important;
}

.listing-details-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.listing-description-content {
  ol {
    padding-left: 1.5em
  }
  blockquote {
    border-left: .25em solid #c3c3c3;
    padding: 0 1em;
    color: gray;
  }
  hr {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 1em;
  }
}
.listing-description-youtube-wrapper {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  margin-bottom:lines(1);
}
.listing-description-youtube-iframe {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Social buttons
.listing-social {
  @include clearfix();
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: lines(1);
}

.listing-tweet-button {
  padding-top: 4px; // Extra top padding to align with fb like button
}

// Listing price
.listing-price {
  clear: both; // Price floats to left
}

.listing-price-amount {
  @include huge-type;
  color: $light-body;
  display: block;
  float: left;
  margin-right: lines(0.25);
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em($huge-type);
  $hugeTypeMargin: ($hugeTypeLineHeight - $hugeTypeFontSize) / 2; // Calculate the top margin based on the huge type
  $positionFineTune: em(2); // hugeTypeMargin calculates the correct position, but due to the different font size, some finetuning is needed
  // Use position relative, since the element is inline (no top-margin/padding should be used)
  position: relative;
  top: $hugeTypeMargin + $positionFineTune;
  color: $aside;
}

.listing-paypal-fee-info-link {
  cursor: pointer;
}

// Listing quantity input
.quantity-wrapper {
  width: 100%;
  margin-bottom: lines(0.75);
}
.quantity-label-wrapper {
  float: left;
  width: 100%;
}
.quantity-label {
  float: left;
  width: auto;
  font-weight: bold;
  padding: lines(0.35) lines(0.35) 0 0;
  margin: auto em(100) auto 0;
}
.quantity-input {
  margin-left: em(-100);
  width: em(100);
  float: left;
}
.quantity-input input{
  width: 100%;
}
.quantity-input input:focus {
  outline-width: 0;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing-author-avatar-image {
  @include border-radius($default-border-radius);
  display: block;
  width: 100%;
  height: 100%;
}

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.75);
  margin-top: lines(0.25); // Author box looks a bit better when given a bit more room
  margin-bottom: lines(0.75); // Author box looks a bit better when given a bit more room
}

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 18) / 2;
}

.listing-author-name-link {
  display: block;
  @include ellipsis;
}

.listing-author-contact-button {
  @include grey-button;
  width: 100%;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map
.listing-map {
  width: 100%;
  height: lines(8);
}

.listing-view-admin-links {
  margin: lines(0.5) 0; // Some top & bottom margin to give links some space
}

.map-link {
  float: right;
  font-size: em(14);
  margin-top: 0.2em;
}

// Delivery options
.delivery-title {
  margin-bottom: 0;
}

.delivery-label {
  display: inline;
  width: auto;
  margin-left: lines(0.2);
}

.book-button {
  margin-top: 0;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

// Transaction action button
.enabled-book-button {
  @include big-button($link);
  @extend .book-button;
}

.disabled-book-button {
  @include big-button($link);
  @extend .book-button;

  &, &:hover {
    background-color: $border;
  }
}

// Transaction action button
.book-button .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.checkbox-option {
  &.selected {

  }
  &.not-selected {
    color: $border;
  }
}

.checkbox-option-checkmark {
  display: inline-block;
  width: 20px;
  color: $link;
}

.listings-how-paypal-works-link {
  font-size: em(14);
}
@media (max-width: 480px) {
  .checkbox-group {
    .col-4 {
      margin-bottom: 0;
    }
  }
}

.googlemap {
  .embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
}
.googlemap .embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.buyer-fees {
  font-size: 15px;
  color: gray;
}

.listing-breadcrumbs {
  margin: 0.75rem 0 1.25rem 0.75em;
  width: 100%;

  .listing-breadcrumb {
    display: flex;
    -webkit-box-align: center;
  }

  .listing-link-crumb {
    color: #1A5888;
    font-size: 0.75rem;
    text-decoration: none;
  }

  .listing-separator-icon {
    height: 0.4rem;
    margin-top: 0.7rem;
  }

  .bhIcon {
    fill: #000;
  }

  @media #{$mobile}, #{$tablet} {
    margin: 0;

    .page-content {
      padding-top: 0;
    }
  }
}

.listing-details-container {
  .listing-image-frame {
    background: none;
    border: 1px solid #cdcdcd;
  }

  .listing-include {
    .listing-include-title {
      font-size: 21px;
      color: #333333;
      padding-bottom: 5px;
      border-bottom: 1px solid #cdcdcd;
      display: inline;
      font-weight: bold;
    }

    .listing-include-items {
      ul {
        margin-top: 10px;
        margin-left: -6px;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
      }

      li {
        display: list-item;
        padding-bottom: 5px;
      }
    }

    @media #{$mobile}, #{$tablet} {
      display: none;
    }
  }

  .listing-image-carousel {
    overflow: initial;
    padding-bottom: 0;

    .col-1 {
      width: auto;
    }

    #image-list {
      img {
        height: 51px !important;
        width: 51px !important;
        vertical-align: middle;
      }

      .zoom-image-video {
        &.active {
          color: #000;

          .zoom-image-item {
            border: 1px solid #000;
          }
        }

        .zoom-image-item {
          position: relative;
          height: 51px;
          width: 51px;
          border: 1px solid #cdcdcd;
          border-radius: 4px;

          .icon-play-circle {
            font-size: 40px;
            -webkit-text-stroke: 3px white;
            position: absolute;
            top: 5px;
            left: 7px;
          }
        }
      }

      .zoom-image-slide {
        margin-bottom: 5px;
        cursor: pointer;
      }

      .zoom-image-item {
        position: relative;

        span {
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 1.25rem;
          font-weight: 600;
          color: #FFFFFF;
          line-height: 1.25rem;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          border-radius: 4px;
        }
      }
    }

    #slideshow-list {
      img {
        width: 540px;
        height: 540px;
        padding: 20px;
      }
    }

    .left {
      float:left;
    }

    .right {
      float:right;
    }

    ul {
      list-style:none;
      margin: 0px;
      padding: 0px;
    }

    #image-list li img {
      width: 214px;
      height: 107px;
      opacity: 0.5;
      padding: 2px;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
    }

    #slideshow-main {
      float: left;
      margin-left: 10px;
      width: 540px;
      height: 540px;
      padding-left: 0px;
      border: 1px solid #cdcdcd;
    }

    #image-list li a img:hover, .active {
      opacity: 1;
    }

    .active {
      background: none !important;
    }

    .active img {
      opacity: 1 !important;
    }

    #slideshow-list li {
      display:none;
    }

    @media #{$mobile}, #{$tablet} {
      #image-list {
        display: none;
      }

      #slideshow-main {
        margin-left: 0;
        width: auto;
        height: auto;
        border: none;

        #slideshow-list {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .listing-image-frame-content {
    top: 15px;
    bottom: 15px;
  }
}

.listing-details {
  @media #{$mobile}, #{$tablet} {
    margin-top: -15px;
    margin-bottom: 0;
  }

  .row {
    font-size: 14px;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .listing-title {
    font-size: 24px;
    color: #254e58;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 0.75em;
    margin-bottom: 0;

    .col-12 {
      margin-bottom: 0;

      a {
        display: inline;
        padding: 5px 20px;
        font-size: 13px;
        background: #4eb857;
        color: #fff;
        border-radius: 30px;
      }
    }

    .listing-sku {
      display: none;
      font-size: 14px;
      color: #7d7d7d;
    }

    @media #{$mobile}, #{$tablet} {
      font-size: 15px;
      border-bottom: 0;

      .listing-sku {
        display: block;
      }
    }
  }

  .listing-price {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px !important;

    .amount {
      color: #13588d;
    }
    .time-rent {
      color: #5fbf67;
    }

    @media #{$mobile}, #{$tablet} {
      font-size: 22px;
      padding-top: 15px;
      margin-top: 0 !important;

      .listing-replacement-value {
        font-size: 14px;
        font-weight: normal;

        .amount {
          color: #0e426e;
        }
      }
    }
  }

  .listing-identity {
    color: #7d7d7d;

    .listing-sku {
      font-size: 16px;
      font-weight: bold;
      display: block;
      
      .sku {
        font-size: 15px;
        font-weight: initial;
      }
    }

    .listing-replacement-value {
      .amount {
        color: #0e426e;
      }
    }

    @media #{$mobile}, #{$tablet} {
      .listing-sku {
        display: none;
      }
    }
  }

  .listing-available {
    font-weight: bold;
    font-size: 14px;

    .availabel {
      background: #f3f3f3;
      padding: 10px 10px;
      border-radius: 4px;
      width: auto;
    }

    @media #{$mobile}, #{$tablet} {
      font-weight: normal;

      .availabel {
        background: #bdbdbd;
        border-radius: 0;
        width: fit-content;
      }
    }
  }

  .listing-shipping-date {
    .arrival-date,
    .return-date {
      .form-group {
        position: relative;

        input {
          outline: none;
        }

        img {
          position: absolute;
          width: 20px;
          top: 45px;
          right: 10px;
        }
      }
    }

    input {
      height: 50px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #dddddd;
    }
  }

  .listing-order-quantity {
    background: #f3f3f3;
    position: relative;

    .quantity {
      input {
        outline: none;
        height: 50px;
        width: 62px;
        position: absolute;
        top: 18px;
        left: 26px;
        border: 1px solid;
      }

      .icon-caret-up,
      .icon-caret-down {
        position: absolute;
        position: absolute;
        padding: 5px 10px;
      }

      .icon-caret-up {
        border-width: 0 0px 1px 1px;
        border-style: solid;
        top: 19px;
        left: 59px;
      }

      .icon-caret-down {
        border-left: 1px solid;
        top: 43px;
        left: 59px;
      }

      input[type="number"] {
        -webkit-appearance: textfield;
           -moz-appearance: textfield;
                appearance: textfield;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }

    .rent-container {
      padding-left: 20px;
    }

    button {
      font-size: 18px;
      font-weight: initial;
      width: 100%;
      margin: 18px 0px;
    }

    .rent-btn {
      background: #4eb857;
      border: 1px solid #4eb857;
      width: 275px;
    }

    .add-wish-list {
      padding-right: 18px;
    }

    .wish-list-btn {
      color: #333333;
      background: #ffffff;
      border: 1px solid #333333;
      margin-right: 18px;
    }

    @media #{$mobile}, #{$tablet} {
      background: none;

      button {
        margin: 0;
      }

      .listing-shipping-info {
        .shipping-rates{
          padding: 12px 3px;
          background: none;

          span {
            font-size: 12px;
            font-weight: normal;
          }
        }
      }

      .wish-list-btn {
        font-size: 12px;
      }

      .add-wish-list {
        padding-right: 0;
        margin-right: -5px;

        .wish-list-btn {
          width: 93px;
          height: 48px;
          margin-top: 0;
        }
      }

      .quantity input {
        position: relative;
        top: 0;
        left: 0;
        height: 47px;
        width: 52px;
      }

      .quantity {
        width: auto !important;

        .icon-caret-up,
        .icon-caret-down {
          padding: 5px 7.5px;
        }

        .icon-caret-up {
          top: 0;
          left: 27px;
        }
  
        .icon-caret-down {
          top: 23px;
          left: 27px
        }
      }
    }
  }

  @media #{$mobile}, #{$tablet} {
    .rent-btn {
      width: 100%;
      background: #13588d;
      font-size: 20px;
    }

    .in-stock-label {
      color: #4eb857;
    }

    .in-stock-star {
      i {
        color: #4eb857;
      }
    }

    .in-stock-star,
    .in-stock-quantity {
      display: inline;
    }

    .icon-angle-right {
      font-weight: bold;
    }

    .listing-type {
      display: none;
    }
  }

  .listing-shipping-info {
    .shipping-rates {
      background: #f3f3f3;
      padding: 20px 30px;
      width: auto;

      span {
        font-size: 14px;
        color: #0e426e;
        font-weight: bold;
      }

      span:last-child {
        margin-left: 15px;
      }

      @media #{$mobile}, #{$tablet} {
        span:last-child {
          margin-left: 15px;
          float: right;
        }
      }
    }
  }

  .listing-style,
  .listing-type,
  .listing-configuration {
    .style-item,
    .type-item ,
    .configuration-item {
      padding: 10px;
      border-radius: 4px;
      margin-right: 5px;
      border: 1px solid #333333;
      display: inline-block;
      margin-bottom: 5px;

      &.selected {
        background: #e9f4dd;
        border: 2px solid #8bc34a;
      }
    }
  }

  .listing-payment-method {
    .payment-method-item {
      display: inline;

      img{
        width: 35px;
        margin-left: 17px;
      }

      span {
        text-align: center;
        display: inline-block;
        font-size: 13px;
        color: #0e426e;
      }

      @media #{$mobile}, #{$tablet} {
        float: left;
        width: 20%;

        img {
          display: block;
        }
      }
    }
  }

  .listing-save-availabe {
    .save-available {
      .saving-available-item {
        height: 50px;
        width: 100%;
        background: #c3c3c3;
      }
    }
  }

  .listing-trade-in-your-gear-for-cash {
    .trade-in-your-gear-item {
      .trade-in-your-gear-avatar {
        float: left;

        img {
          border-radius: 30px;
        }
      }

      .trade-in-your-gear-info {
        font-size: 16px;
        float: left;
        margin-left: 10px;
        width: 80%;

        .trade-in-your-gear-title {
          font-weight: bold;
        }

        .think-text {
          display: inline;
          font-weight: normal;
          font-size: 12px;
        }

        .trade-in-your-gear-phone,
        .trade-in-your-gear-email,
        .trade-in-live-chat {
          display: inline;
        }

        .trade-in-live-chat {
          padding-right: 5px;
          border-right: 1px solid #e2e2e2;
        }

        .trade-in-your-gear-phone {
          padding-right: 5px;
          border-right: 1px solid #e2e2e2;
          padding-left: 5px;
        }

        .trade-in-your-gear-email {
          padding-left: 5px;
        }
      }
    }

    @media #{$mobile}, #{$tablet} {
      background: #f0f0f0;
      margin-left: -12px;
      margin-right: -12px;
      margin-bottom: 0;

      .trade-in-your-gear-item {
        .trade-in-your-gear-info {
          margin-left: 15px;

          .trade-in-your-gear-title {
            font-size: 18px;
            font-weight: normal;
            padding: 10px 0;
          }

          .icon-phone {
            font-size: 20px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
          }

          .trade-in-your-gear-phone {
            .icon-phone {
              color: #13588d;
            }

            span {
              font-size: 13px;
              color: #13588d;
            }
          }

          .trade-in-your-gear-email {
            .icon-envelope-alt {
              font-size: 20px;
              margin-left: 10px;
              color: #13588d;
            }

            span {
              font-size: 13px;
              color: #13588d;
            }
          }
        }
      }
    }
  }
}

.img-responsive {
  width: 98px;
  height: 98px;
}

.mobile-recommended-accessories-container {
  background: #f0f0f0;
  margin-left: -12px;
  margin-right: -12px;
}

.recommended-accessories-container {
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 20px;

  .recommended-accessories-title {
    font-size: 34px;
    
    .recommended-accessories-view-all {
      display: inline;
      font-size: 22px;
      margin-left: 10px;
    }

    @media #{$mobile}, #{$tablet} {
      font-size: 22px;
    }
  }

  .recommended-accessories-list {
    margin-top: 10px;
    font-weight: bold;

    .recommended-accessories-item {
      padding-top: 20px;

      &.col-3 {
        padding-left: 0.75em;
      }

      @media #{$mobile}, #{$tablet} {
        &.col-3 {
          padding-left: 0;
          width: 50%;
          float: left;
        }

        &:nth-child(even) {
          padding-left: 2px;
        }

        .mobile-recommended-accessories {
          border: 1px solid #9e9e9e;
          margin-right: 9px;
          height: 245px;
          background: white;

          .mobile-accessory-wrap {
            padding: 10px;
            position: relative;

            .icon-star-empty {
              position: absolute;
              right: 5px;
              font-size: 23px;
            }

            .col-4 {
              margin-bottom: 0;
            }

            .mobile-acessory-image-wrap {
              text-align: center;

              img {
                width: 120px;
                height: 120px;
              }
            }

            .recommended-accessories-listing-title {
              font-weight: normal;
              font-size: 12px;
              line-height: 1.5em;
            }

            .recommended-accessories-listing-price {
              font-size: 18px;

              .amount {
                color: #000000;
              }

              .time-rent {
                color: #5fbf67;
              }
            }

            .recommended-accessories-add-to-cart {
              margin: 0.5em 0;
              font-size: 14px;
              width: 93px;
              background: #4eb857;
              border: 1px solid #4eb857;
              color: #ffffff;
            }
          }
        }

        &:nth-child(even) {
          .mobile-recommended-accessories {
            margin-right: 0;
          }
        }

        padding-top: 0;
      }
    }

    .recommended-accessories-listing-title {
      font-size: 14px;
    }

    .recommended-accessories-listing-price {
      font-size: 16px;
      color: #990000;
    }

    .recommended-accessories-add-to-cart {
      font-size: 14px;
      color: #0e426e;
      height: 28px;
      width: 107px;
      border: 1px solid #0e426e;
      background: none;
      padding: 2px;
      outline: none;
    }
  }

  @media #{$mobile}, #{$tablet} {
    padding: 15px;
    border: none;

    .mobile-recommended-accessories-view-all {
      text-align: right;
      padding-right: 10px;

      .icon-angle-right {
        font-weight: bold;
      }
    }
  }
}

.specification {
  .tab-content {
    display: none;
    font-size: 16px;

    &:first-child {
      display: table;
    }
  }


  .table {
    margin-top: 20px;

    tbody tr {
      background: none !important;
      border-bottom: 1px solid #efefef;

      td {
        padding: 15px;
        font-size: 16px;
      }
    }
  }

  .mobile-display {
    @media #{$mobile}, #{$tablet} {
      .tab-content {
        border: none;
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 0;

        .overview-title {
          font-size: 22px;
          margin-bottom: 10px;
        }

        .overview-highlights {
          margin-bottom: 10px;
        }

        .overview-view-all-feature button {
          font-size: 16px;
          background: none;
          border: 1px solid #000;
          width: 100%;
          height: 44px;
          color: #000;
        }

        &#in_the_box_tab {
          .title {
            font-size: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.listing-specifications {
  .tab-content {
    border: none;
  }

  .tab-link {
    background: none;
    border: none;
    margin-left: 0 !important;
  }

  .listing-categories-detail {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      float: left;
      border: 1px solid #4eb857;
      border-radius: 4px;
      margin-left: 10px;
      font-size: 15px;
      margin-bottom: 10px;
      background: #ffffff;
      cursor: pointer;

      &.active {
        background: #4eb857;

        a {
          color: #ffffff !important;
        }
      }

      a {
        color: #333333;
        position: relative;
        display: block;
        padding: 10px 20px;
      }
    }
  }

  @media #{$mobile}, #{$tablet} {
    background: #f0f0f0;
    margin: 0 -12px;

    .scrollmenu {
      background-color: #f0f0f0;
      overflow: auto;
      white-space: nowrap;
      border-bottom: 1px solid #757575;

      a {
        width: 83px;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      i {
        font-size: 21px;
        display: block;
      }
    }

    .scrollmenu a {
      display: inline-block;
      color: #757575;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      font-size: 10px;

      &.active {
        background-color: #757575;
        color: #ffffff;

        .icon-movri-chat {
          filter:  brightness(0) invert(1);
        }
      }
    }

    .specification {
      background: none;
    }
  }
}

.listing-user-manual,
.listing-firmware-updates {
  margin-top: 30px;
  background: #ececec;
  position: relative;
  height: 96px;
  border-radius: 4px;

  .user-manual-title,
  .firmware-updates-title {
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 18px;
    color: #3c3c3c;
  }

  .user-manual-file-size {
    font-size: 12px;
    color: #9a9a9a;
    top: 36%;
    left: 70%;
    position: absolute;
  }

  .user-manual-file-icon,
  .firmware-updates-file-icon {
    position: absolute;
    background: #0e426e;
    padding: 30px;
    border-radius: 4px;
    top: 0;
    left: 0;

    img {
      width: 35px;
    }
  }
}

@media #{$mobile}, #{$tablet} {
  .listing-user-manual {
    border-bottom: 1px solid;
  }

  .listing-user-manual,
  .listing-firmware-updates {
    height: auto;
    background: none;
    margin-top: 0;
    padding-bottom: 10px;
    border-radius: 0;

    i {
      font-size: 27px;
      margin-left: 10px;
    }

    .user-manual-file-icon,
    .firmware-updates-file-icon {
      padding: 0;
      background: none;

      img {
        width: 23px;
      }
    }

    .user-manual-title,
    .firmware-updates-title {
      font-size: 20px;
      color: #757575;
    }

    .user-manual-title,
    .firmware-updates-title,
    .user-manual-file-size {
      font-weight: normal;
      left: 5px;
      top: 0;
    }

    .user-manual-file-size {
      font-size: 16px;
      color: #999999;
    }

    .user-manual-title,
    .firmware-updates-title,
    .user-manual-file-size,
    .user-manual-file-icon,
    .firmware-updates-file-icon {
      position: relative;
    }
  }
}

.listing-firmware-updates {
  margin-top: 10px;
}

.not-include-box {
  margin-top: 30px;

  .essentia-item-label {
    background: #4fb858;
    padding: 1px 5px;
    padding-right: 20px;
    font-size: 13px;
    display: inline;
    position: relative;
    color: #ffffff;
    font-weight: initial;
    margin-right: 5px;

    .shape {
      border-color: rgba(225, 255, 255, 0) #ffffff rgba(225, 255, 255, 0) rgba(225, 255, 255, 0);
      border-style: solid;
      border-width: 19px 20px 0 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .essentia-item-name {
    color: #0e426e;
  }

  .essentia-item-not-include {
    color: #9a9a9a;
  }
}

.include-items {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  font-size: 14px;

  li {
    padding-bottom: 5px;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 5px;
    }
  }

  border-bottom: 2px solid #e0e0e0;
}

.include-in-the-box {
  .include-box,
  .not-include-box {
    .title {
      font-size: 28px;
      padding-bottom: 20px;
      border-bottom: 2px solid #333333;
    }
  }
}

.customers-also-viewed {
  @media #{$mobile}, #{$tablet} {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #757575;

    img {
      margin-top: 10px !important;
    }

    .slide-item-title {
      font-size: 12px;
      display: inline;
      line-height: 0px;
    }

    .listing-price  {
      font-size: 18px !important;
    }

    button {
      font-size: 14px !important;
      margin-top: 5px;
      margin-bottom: 0;
      padding: 5px 10px 0 10px;
      height: auto;
    }

    .viewed-slide-star {
      i {
        font-size: 15px;
        color: #4eb857;
      }

      span {
        font-size: 14px;
        color: #616161;
      }
    }
  }
}

.recently_viewed {
  .slide-item {
    position: relative;
  }

  .recently-reviewed-remove-item {
    -webkit-text-stroke: 2px white;
    padding: 5px;
    margin-bottom: 15px;
  }

  @media #{$mobile}, #{$tablet} {
    img {
      margin-left: 20px !important;
    }
  }
}

.customer-also-viewed-slick .slide-item {
  img {
    margin-top: 40px;
  }
}

.customers-also-viewed,
.recently_viewed {
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .slide-item {
    width: 200px;
    height: 400px;
    border: 1px solid #f1f1f1;
    margin: 0 auto;

    .viewed-time {
      font-size: 12px;
      color: #636363;
      padding-left: 5px;
    }

    .slide-item-title {
      margin-top: 10px;
      font-size: 14px;
    }

    .slide-item-detail {
      padding: 0px 10px;

      button {
        height: 34px;
        padding: 5px 15px;
        background: #4eb857;
        color: #ffffff;
      }
    }

    .listing-price {
      font-size: 22px;
      font-weight: bold;

      .amount {
        color: #13588d;
      }
      .time-rent {
        color: #5fbf67;
      }
    }

    @media #{$mobile}, #{$tablet} {
      width: 160px;
      height: 270px;

      img {
        height: 120px;
        width: 120px;
      }

      .slide-item-title {
        font-size: 12px;
        display: inline;
      }

      .listing-price  {
        font-size: 18px !important;
      }

      button {
        font-size: 14px !important;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 5px 10px 0 10px;
        height: auto;
      }

      .recently-viewed-star {
        display: none;
      }
    }
  }

  img {
    margin: 0 auto;
    width: 198px;
    height: 198px;
  }
  
  .heroSlider-fixed {
    position: relative;
  }

  .slick-slide {
    outline:  none;
    cursor: pointer;
  }

  .slick-dots {
    text-align: center;
    margin: 0 0 -20px 0;

    li {
      display:inline-block;
      margin-left: 4px;
      margin-right: 4px;
      &.slick-active {
        button {
          background-color:black;
        }
      }
      button {
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background-color:#999;
        border:none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        outline: none;
      }
      :hover{
        background-color: black;
      }
    }
  }

  .prev{
    color: #999;
    position: absolute;
    top: 50%;
    left: -2em;
    font-size: 1.5em;
      :hover{
        cursor: pointer;
        color: black;
      }

    i {
      font-size: 60px;
    }
  }
  .next{
    font-size: 60px;
    color: #999;
    position: absolute;
    top: 50%;
    right: -2em;
    font-size: 1.5em;
    :hover{
        cursor: pointer;
        color: black;
      }

    i {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 800px) {
    .next {
      display: none !important;
    }
  }
  
  @media #{$mobile}, #{$tablet} {
    background: #f0f0f0;
    margin: 0px -12px;
    padding: 10px;

    .viewed-title {
      font-size: 20px;
    }

    .slide-item {
      border: 1px solid #616161;
      background: #ffffff;
    }

    .listing-price  .amount {
      color: #000 !important;
    }
  }
}

.browsing-history {
  margin-bottom: 20px !important;
  font-size: 12px;

  span {
    padding: 5px;
  }

  button {
    margin: 0px 10px;
    height: 34px;
  }

  .browsing-history-btn-on {
    width: 52px;
    border: 1px solid #d8d8d8;
    background: none;
    color: #000;
  }

  .browsing-history-btn-clear {
    width: 184;
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    color: #000;
  }
}

.pull-right {
  float: right;
}

.mobile-listing-order {
  background: #f0f0f0;
  margin-left: -12px;
  margin-right: -12px;
  padding: 0px 10px;
}

// Listing Reviews - Mobile

@media #{$mobile}, #{$tablet} {
  .specification {
    .listing-reviews {
      background: #4eb857;
      margin-left: -12px;
      margin-right: -12px;
      padding: 15px;
      margin-bottom: 0;

      .reviews-content {
        font-size: 22px;
        margin-bottom: 10px;
        color: #ffffff;
      }

      &.tab-content {
        border-radius: 0;
        margin-top: 0;
      }

      .reviews-wrap {
        .review-item {
          background: #ffffff;
          padding: 10px;
          font-size: 13px;
          color: #424242;
          margin-bottom: 10px;

          .row {
            margin-bottom: 0;
          }

          .review-star {
            font-size: 18px;
            color: #4eb857;
            float: left;
          }

          .review-date {
            float: right;
            font-size: 11px;
            color: #9e9e9e;
          }

          .review-title {
            font-size: 16px;
          }

          .review-author {
            font-size: 16px;
            color: #757575;
          }

        }

        .review-view-all button {
          float: right;
          margin: 0;
          background: #4eb857;
          border: 1px solid #ffffff;
          padding: 9px;
          font-size: 16px;
          border-radius: 0;
        }
      }
    }
  }
}

// End Listing Review - Mobile

// Listing Spec - Mobile

@media #{$mobile}, #{$tablet} {
  .specification {
    .listing-specs {
      background: #f0f0f0;
      font-size: 13px;
      margin: -12px;

      &.tab-content {
        margin-top: 0;
      }

      .spec-content {
        font-size: 22px;
        padding: 10px 15px 0 15px;
      }

      .spec-view-all {
        button {
          margin: 20px 15px;
          float: right;
          background: #ffffff;
          border: 1px solid #000;
          color: #000;
          padding: 9px;
          font-size: 16px;
          border-radius: 0;
          width: 90%;
        }
      }

      .spec-category {
        margin-bottom: 10px;

        .spec-model-number {
          font-size: 16px;
          margin: 10px 15px;
        }

        .spec-item {
          table {
            margin-top: 0;
          }

          table tr{
            background: none;
          }

          td {
            padding: 5px 15px;
            border-bottom: 1px solid #ffffff;
            margin: 15px 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}
// End Listing Specs - Mobile

// Listing Q&A - Mobile
@media #{$mobile}, #{$tablet} {
  .specification {
    margin-bottom: 0;

    .listing-questions {
      background: #f0f0f0;
      font-size: 13px;
      margin: -12px;

      &.tab-content {
        margin-top: 0;
      }

      .questions-content {
        padding: 15px;
        font-size: 22px;
      }

      .questions-search {
        padding: 0 15px 15px 15px;
        width: 70%;
      }

      .questions-wrap {
        padding: 0 15px;

        .question-item {
          background: #ffffff;
          padding: 10px;
          font-size: 13px;
          margin-bottom: 15px;

          .question-author {
            font-size: 12px;
            color: #9e9e9e;
          }

          .question-rate {
            font-size: 14px;
            float: left;
          }

          .question-rate-answer {
            color: #757575;
            font-size: 12px;
            margin-left: 100px;
          }

          .question-author-rate {
            color: #9e9e9e;
            font-size: 12px;
          }
        }

        .question-view-all {
          button {
            float: right;
            margin-bottom: 15px;
            background: #ffffff;
            border: 1px solid #000;
            padding: 9px;
            font-size: 16px;
            border-radius: 0;
            color: #000;
          }
        }
      }
    }
  }
}

// End Listing Q&A - Mobile

@media #{$mobile}, #{$tablet} {
  .similar-product {
    .similar-wrap {
      margin-top: 10px;

      label {
        display: flex;
      }

      .similar-model-wrap {
        margin-bottom: 0;
      }

      .similar-item {
        padding: 5px;
        border: 1px solid #e0e0e0;
        display: inline-block;
      }

      .similar-model {
        margin-left: 25px;
        font-size: 12px;
        margin-top: -10px;
        float: left;
        color: #b3b3b3;
      }

      .similar-name {
        margin-left: -72px;
        font-size: 14px;
      }

      .container {
        display: block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: normal;
      }

      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
      }

      .container:hover input ~ .checkmark {
        background: none;
        border: 1px solid #9e9e9e;
      }

      .container input:checked ~ .checkmark {
        background: none;
        border: 1px solid #9e9e9e;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .container input:checked ~ .checkmark:after {
        display: block;
      }

      .container .checkmark:after {
        left: 5px;
        top: 0px;
        width: 8px;
        height: 15px;
        border: 1px solid #4eb857;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

// Sticky Specifications
.sticky-specification,
.sticky-specification-bottom {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 998;
  background: #fff;

  .specification-list {
    max-width: 82rem;
    margin: 0 auto;
  }

  li {
    margin: 10px;
  }
}

.sticky-specification {
  top: 72px;
  left: 0;
}

.sticky-specification-bottom {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  border-top: 2px solid #E7E7E7
}

#listing-title-fixed {
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0;
  background: #e7e7e7;
  padding-left: 75px !important;
  padding-right: 75px !important;
  display: none;

  .listing-title-fixed-wrap {
    max-width: 82rem;
    margin: 0 auto;
  }

  &.show {
    display: block;
  }

  .image-thumb {
    position: absolute;
    padding: 10px;

    img {
      height: 55px;
    }
  }

  .listing-title {
    font-size: 24px;
    padding-right: 65px;
    color: #13588d;
    padding: 25px 25px 25px 80px;
    display: inline-block;
  }

  .listing-rent-btn {
    float: right;
    padding-right: 10px;

    button {
      height: 40px;
      width: 140px;
      background: #4eb857;
      color: white;
      font-size: 17px;
    }
  }
}

#zoom-image-modal{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
    margin-bottom: 40px;

    @media #{$mobile}, #{$tablet} {
      width: 95%;
      height: auto;

      .modal-body,
      .modal-header {
        padding: 0;
      }

      .modal-header {
        position: relative;
        border: none;

        .close {
          position: absolute;
          right: 5px;
          font-size: 27px;
        }
      }

      .modal-body {
        .modal-image-list {
          width: 100%;
          float: none;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;

          .zoom-image-wrap {
            .zoom-image-item {
              img {
                height: 45px;
              }
            }
          }
        }

        .modal-slideshow-list {
          width: 100%;

          .zoom-image-wrap {
            width: auto;
            height: auto;

            img {
              height: 330px;
              width: 330px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }

      .zoom-image-cate {
        ul {
          background: #efefef;
          display: flex;

          li {
            margin-right: 0;
            padding: 10px 10px;
            width: 33.33%;
            text-align: center;
            border: none;
            background: none;
            border-radius: 0;
            font-size: 16px;

            &.active,
            &:hover {
              border-bottom: 1px solid #888888;
            }
          }
        }
      }
    }
  }

  .modal-header {
    height: auto;
    padding: 30px;
    border-bottom: 1px solid;
  }

  .modal-body {
    padding: 30px;

    .modal-image-list {
      width: 12.25em;
      float: left;

      ul {
        padding-left: 0;

        li {
          list-style: none;
        }
      }

      .zoom-image-wrap {
        padding: 0.4375rem 0.9375rem;
        cursor: pointer;
        flex-basis: 50%;
        max-width: 49%;
        display: inline-block;

        .zoom-image-item {
          border: 0.0625rem solid transparent;
          padding: 0.3125rem;
          transition: border 250ms;
          border-radius: 0.25rem;

          &:hover,
          &.active {
            background: none;
            border-color: #9A9A9A;
          }

          img {
            height: 55px;
            vertical-align: middle;
          }
        }
      }
    }

    .modal-slideshow-list {
      width: calc(100% - 12.25em);
      float: left;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        padding: 1.25rem;
        background: none;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-size: 60px;
        color: #CDCDCD;
        cursor: pointer;

        &.icon-angle-left {
          left: 0;
        }

        &.icon-angle-right {
          right: 0
        }

        &:hover {
          color: black;
        }
      }

      .zoom-image-wrap {
        height: 500px;
        width: 500px;
        margin: auto;
        margin-top: 5%;
        display: none;
        margin-bottom: 5%;

        &:first-child {
          display: block;
        }

        img {
          width: 100%;
          height: 90%;
        }
      }
    }
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .zoom-image-cate {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid #333333;
        border-radius: 4px;

        .tab-link {
          display: inline-block;
          padding: 8px 20px;
          background: none;
          border: none;
          margin-left: 2px;
        }

        &.active {
          background: #000;
          color: #fff;
        }
      }
    }
  }

  .tab-content {
    border: none;
    display: none;

    &:first-child {
      display: block;
    }
  }

  #video_tab {
    iframe {
      width: 70%;
      height: 100%;
    }

    .zoom-image-show {
      margin: auto;
      height: 520px;
      width: 920px;
      outline: none;
    }
  }
}
