#mobile-shipping-rates-realtime-modal.modal{:style => "display: none"}
  .mobile-modal-content
    .mobile-modal-header
      %span.mobile-close ×
      .mobile-title
        #mobile-shipping-rates-title
          %b Shipping Rates
    .mobile-modal-body.clearfix
      .mobile-display.root-parent
        .mobile-descriptions
          Return shipping is included in the shipping price, and we include a prepaid return label with your order - all you need to do is bring it to an appropriate drop-off location when you rental is complete
        %br
        .mobile-enter-shipping-zip-code-text
          %b Enter shipping zip code
        .mobile-group-enter-shipping-zip-code
          .row
            .col-6
              %input#mobile-zipcode
            .col-6
              %button.mobile-button-calculate-shipping
                Calculate Shipping
    .mobile-modal-list-shipping
      %table#mobile-shipping-rates-table
      .mobile-loading Please wait a moment, the calculation process is in progress!
      .mobile-cannot-calculated Cannot calculated, please check your input postal code!
    %input#mobile_listing_id_hidden{:type => "hidden", :value => "#{listing.id}"}


- content_for :extra_javascript do
  :javascript
    window.ST.getMobileShippingRates('en', $("#mobile_listing_id_hidden").val());
