.container#specification-bar
  .row.listing-specifications
    .col-md-12
      .scrollmenu
        - @listing.listing_tabs.where.not(tab_type: ['not_in_the_box', 'key_features']).each do |tab|
          - if tab.is_active
            %a.mobile-tab-link{class: tab.tab_type == 'specs' ? "active" : "", 'data-tab' => "#{tab.tab_type}_tab"}
              %i.fa{class: tab.get_icon}
              %span.uppercase= tab.title
        %a.mobile-tab-link{'data-tab' => 'accessories_tab'}
          %i.icon-suitcase
          %span
            ACCESSORIES
        %a.mobile-tab-link{'data-tab' => 'review_tab'}
          = image_tag("mf_icons/icon-movri-chat-black.svg", class: 'header-menu-icon icon-movri-chat')
          %span
            REVIEW
        -# %a.mobile-tab-link{'data-tab' => 'question_tab'}
        -#   %i.icon-question-sign
        -#   %span
        -#     Q&A

#specification-tab
  = render partial: 'listings/listing_details'