.container#specification-bar
  .row.listing-specifications
    .col-md-12
      .scrollmenu
        %a.mobile-tab-link.active{'data-tab' => 'overview_tab'}
          %i.icon-eye-open
          %span
            OVERVIEW
        %a.mobile-tab-link{'data-tab' => 'spec_tab'}
          = image_tag("mf_icons/icon-movri-note-board.svg", class: 'header-menu-icon icon-movri-chat')
          %span
            SPECS
        %a.mobile-tab-link{'data-tab' => 'in_the_box_tab'}
          %i.icon-archive
          %span
            IN THE BOX
        %a.mobile-tab-link{'data-tab' => 'accessories_tab'}
          %i.icon-suitcase
          %span
            ACCESSORIES
        %a.mobile-tab-link{'data-tab' => 'review_tab'}
          = image_tag("mf_icons/icon-movri-chat-black.svg", class: 'header-menu-icon icon-movri-chat')
          %span
            REVIEW
        %a.mobile-tab-link{'data-tab' => 'question_tab'}
          %i.icon-question-sign
          %span
            Q&A
        %a.mobile-tab-link{'data-tab' => 'review3_tab'}
          = image_tag("mf_icons/icon-movri-chat-black.svg", class: 'header-menu-icon icon-movri-chat')
          %span
            REVIEW

= render partial: 'listings/listing_details'