.container#specification-bar
  .row.listing-specifications
    .col-md-12
      .scrollmenu
        - @listing.listing_tabs.where.not(tab_type: ['not_in_the_box', 'key_features']).each do |tab|
          - if tab.is_active
            %a.mobile-tab-link{class: tab.tab_type == 'specs' ? "active" : "", 'data-tab' => "#{tab.tab_type}_tab"}
              %i.fa{class: tab.get_icon}
              %span.uppercase= tab.title
        %a.mobile-tab-link{'data-tab' => 'accessories_tab'}
          %i.icon-suitcase
          %span
            ACCESSORIES
#specification-tab
  = render partial: 'listings/listing_details'