- if @support_info
  .row.listing-trade-in-your-gear-for-cash
    .col-12.clearfix
      .trade-in-your-gear-item
        .trade-in-your-gear-info
          .trade-in-your-gear-title
            = @support_info.sub_heading
          .trade-in-your-gear-phone
            %a{href: "tel:#{@support_info.phone}"}
              %i.icon-phone
              %span= @support_info.phone
          .trade-in-your-gear-email
            %a{href: "mailto:#{@support_info.email}"}
              %i.icon-envelope-alt
              %span Email

- content_for :extra_javascript  do
  :javascript
    ST.ListingContact.contactMobileFormSlider()
