- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.p-3.assurance-options-index
  %h2 Assurance Option
  = render 'form', assurance_option: @assurance_option, url: admin_community_assurance_options_path(community_id: @current_community.id), method: 'post'
         