#pricing-chart-modal.modal
  .modal-content
    .modal-header
      %span.close ×
      .title
        #shipping-rates-title
          %b Pricing Chart
    .modal-body.clearfix
      .desktop-display.root-parent
        .descriptions
          Movri offers rentals ranging from 1 to 90 days.
          The shopping cart will automatically update the quoted price as
          you adjust the length of your rental. Our most common rental periods
          are shown below:
        %br
        .group-options-coverage
          .row
            %form
              %input{:checked => "checked", :name => "coverage", :type => "radio", :value => "no-coverage"}/
              No Coverage
              %br/
              %input{:name => "coverage", :type => "radio", :value => "movri-coverage"}/
              Movri Coverage
    .modal-list-shipping
      %table#pricing-charts-table
        %tr
          %th Rental Period
          %th Rental Price
          %th Price Per day (Approx)
        - listing.pricing_charts.each do |elm|
          %tr
            %td.days
              =elm.period
              days
            %td
              $
              =elm.price
            %td
              $
              =(elm.price/elm.period).round(2)
