#pricing-chart-modal.modal
  .modal-content
    .modal-header
      %span.close ×
      .title
        #shipping-rates-title
          %b Pricing Chart
    .modal-body.clearfix
      .desktop-display.root-parent
        .descriptions
          Movri offers rentals ranging from 1 to 90 days.
          The shopping cart will automatically update the quoted price as
          you adjust the length of your rental. Our most common rental periods
          are shown below:
        %br
        .group-options-coverage
          .row
            %form
              %input{:name => "coverage", :type => "radio", :value => "no-coverage"}/
              No Coverage
              %br/
              %input{:name => "coverage", :type => "radio", :value => "movri-coverage"}/
              Movri Coverage
              %br/
              %input{:name => "coverage", :type => "radio", :value => "movri-plus-coverage"}/
              Movri Plus Coverage
    .modal-list-shipping
      %table#shipping-rates-table
      .loading Please wait a moment, the calculation process is in progress!
      .cannot-calculated Cannot calculated, please check your input postal code!
    %input#listing_id_hidden{:type => "hidden", :value => "#{listing.id}"}
