#shipping-rates-realtime-modal.modal
  .modal-content
    .modal-header
      %span.close ×
      .title
        %b Shipping Rates
    .modal-body.clearfix
      .desktop-display.root-parent
        .descriptions
          Return shipping is included in the shipping price, and we include a prepaid return label with your order - all you need to do is bring it to an appropriate drop-off location when you rental is complete
        %br
        .enter-shipping-zip-code-text
          %b Enter shipping zip code
        .group-enter-shipping-zip-code
          .row
            .col-8
              %input#zipcode
            .col-4
              %button.button-calculate-shipping
                Calculate Shipping
    .modal-list-shipping
      %ul
        %li FedEx



#4eb857

- content_for :extra_javascript do
  :javascript
    window.ST.getShippingRates('en', 5);
