.row.listing-specifications#specification-bar
  %ul.nav.nav-pills.listing-categories-detail.clearfix.col-12
    %li.active
      %a.tab-link{'data-tab' => 'spec_tab'} SPECS
    %li
      %a.tab-link{'data-tab' => 'overview_tab'} OVERVIEW
    %li
      %a.tab-link{'data-tab' => 'review_tab'} REVIEWS 4
    %li
      %a.tab-link{'data-tab' => 'qa_tab'} Q&A 6
    %li
      %a.tab-link{'data-tab' => 'compare_tab'} QUICK COMPARE
    %li
      %a.tab-link{'data-tab' => 'accessories_tab'} ACCESSORIES
    %li
      %a.tab-link{'data-tab' => 'compatibility_tab'} COMPATIBILITY

.row
  .listing-specifications.col-9#specification-tabs
    = render partial: 'listings/listing_details'

  .include-in-the-box.col-3
    .col-12
      = render partial: 'listings/include_in_the_box'

      .listing-user-manual
        %span.user-manual-file-icon
          = image_tag("mf_icons/icon-movri-file.svg", class: 'header-menu-icon icon-movri-file')
        %span.user-manual-title
          User Manual
        %span.user-manual-file-size
          15.6 MB

      .listing-firmware-updates
        %span.firmware-updates-file-icon
          = image_tag("mf_icons/icon-movri-repair.svg", class: 'header-menu-icon icon-movri-repair')
        %span.firmware-updates-title
          Firmware Updates
