.row.listing-trade-in-your-gear-for-cash
  .col-6.clearfix.padding-0
    %p
      Trade in your gear for cash:
      %a{href: '#'}
        Learn more >
    .trade-in-your-gear-item
      .trade-in-your-gear-avatar
        = small_avatar_thumb(@listing.author)
      .trade-in-your-gear-info
        .trade-in-your-gear-title
          True Know-How
          .think-text
            Ask Our Experts
        .trade-in-live-chat
          %a{href: "#"}
            Live Chat
        .trade-in-your-gear-phone
          %a{href: "tel:#{@listing.author.phone_number}"}
            = @listing.author.phone_number
        .trade-in-your-gear-email
          %a{href: "javascript:void(0)"}
            Email
- content_for :extra_javascript  do
  :javascript
    ST.ListingContact.contactFormSlider()