%table.table.col-11.tab-content#overview_tab
  %tbody
    %tr
      %td{width: '40%'} overview
      %td Doe
    %tr
      %td{width: '40%'} Mary
      %td Moe
    %tr
      %td{width: '40%'} July
      %td Dooley