%table.table.col-11.tab-content#review_tab
  %tbody
    %tr
      %td{width: '40%'} review
      %td Doe
    %tr
      %td{width: '40%'} Mary
      %td Moe
    %tr
      %td{width: '40%'} July
      %td Dooley