.row
  .col-2
    %span.title My Cart
  .col-6.price
    %span.subtotal Subtotal
    .price
      %span.number-price
        - shipping_fee = calculate_shipping_fee(session[:shipping], session[:booking], shipping_type)
        = MoneyViewUtils.to_humanized(Money.new(price_with_all_fee(promo_code, shipping_fee), 'USD'))
      %span.day-rent
        \/
        = session[:booking][:total_days]
        days rental
  .col-4
    = button_tag class: "custom-btn" do
      -# %i.icon-lock.fa-fw
      %span.uppercase Checkout
