.row
  .col-2
    %span.title My Cart
  .col-6.price
    %span.subtotal Subtotal
    .price
      %span.number-price
        - price_cents = price_with_all_fee(promo_code)
        = MoneyViewUtils.to_humanized(Money.new(price_cents, 'USD'))
      %span.day-rent
        \/
        = session[:booking][:total_days]
        days rental
  .col-4
    = button_tag class: "custom-btn" do
      -# %i.icon-lock.fa-fw
      %span.uppercase Checkout
