- listings.each do |listing|
  .col-12
    .listing-box-mobile
      .main-image
        - unless listing.main_image.nil?
          = image_tag 'len-10_288x288.jpg', :class => "design-image-too-wide"
      .listing-information
        .listing-title
          = listing.title
        .listing-price
          %span $240
          %span /1 day
        .listing-rent-now
          = link_to "Rent now", "", class: "rent-now-btn"