.listing-header.flex-items.padding-l-15
  %span= link_to 'Home', homepage_with_locale_path
  %i.icon-angle-right.fa-fw
  .current-category
.sort-filter-bar.flex-items
  .width-50
    #mobile-sort-by
  .width-50
    #filter.width-100
      Filter

.mobile-listing-filter.common-box
  .filter-listing
    .group-filter
      %ul
        %li.flex-items.head
          .width-30
            .span Brand
          .width-70.flex-items.group-btn-filter
            #clear-refinements.margin-r-15
            .quick-filter-btn
              %span Done
        #mobile-refinement-list
    .group-filter
      %ul
        %li.head Mount
        #mobile-lens-mount
    .group-filter
      %ul
        %li.head Lens Type
        #mobile-lens-type
    .group-filter
      %ul
        %li.head Compatibility
        #mobile-lens-compatibility