.listing-header
  %span.fa-fw
    = link_to "Home", ""
  %i.icon-angle-right.fa-fw
  %span Camera
.sort-filter-bar
  #sort
    %span Sort
  #filter
    %span Filter


.mobile-listing-filter.common-box
  .filter-listing
    .group-filter
      %ul
        %li.flex-items.head
          .width-30
            .span Brand
          .width-70.flex-items.group-btn-filter
            #clear-refinements.margin-r-15
            .quick-filter-btn
              %span Done
        #mobile-refinement-list
    .group-filter
      %ul
        %li.head Mount
        #mobile-lens-mount
    .group-filter
      %ul
        %li.head Lens Type
        #mobile-lens-type
    .group-filter
      %ul
        %li.head Compatibility
        #mobile-lens-compatibility