= form.label 'User Manual', {class: 'input'}

- unless @listing.user_manual.present?
  .row
    .fileinput-button.user_manual_upload
      .fileupload-text-container
        .fileupload-centered-text
          .fileupload-text
            %span
              Add User Manual
            %p
              or drop files to upload
          .fileupload-small-text
          .fileupload-error-text
        = form.file_field :user_manual, {class: 'fileupload'}
- else
  .row
    %iframe{src: "#{@listing.user_manual.url(:original)}"}
  .row
    .link-delete-btn.common-link-btn
      = link_to "Remove" , remove_user_manual_listing_path(@listing), {method: :delete, data: { confirm: "Are you sure you want to delete the user manual?" }}

