.row
  .col-6
    = form.label 'Video', 'Video', :class => "input"
    %small
      Youtube link must to a embed link
    = form.text_field :video, class: 'listing-video'
  .col-6
    - if @listing.video.present?
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :width => "200", :src => "#{@listing.video}"}
      