- if @export_result
  window.ST.initializeExportPolling({
  pollingUrl: '#{export_status_admin_community_listings_path(token: @export_result.token)}',
  listings_export_loading: '#{j render('listings_export_loading')}'
  });
