- categories.each do |category|
  .top-level-category-container{data: {id: category.id}}
    %span.bold.block.header-categories Category
    .row.category-row.margin-0.padding-5
      .col-10.listed-category-col
        .main-categories-label
          %span= category.display_name(I18n.locale)
      .col-2.listed-category-col
        = render :partial => "category_action_buttons", :locals => {category: category, category_count: category_count}
    - if category.all_subcategories.any?
      = render partial: "listed_subcategory", locals: {children: category.all_subcategories, category_count: category_count}
  .top-level-category-divider-wrapper
    .top-level-category-divider
