- if @listing.specs_tab.is_active
  .tab-content.listing-specs#spec_tab
    .spec-content
      %span.font-open-sans.font-size-22
        = @listing.title
    .spec-category.row
      = safe_join([raw(@listing.specs_tab.description)])
    .spec-view-all.clearfix
      %button
        View All Specs

  - content_for :extra_javascript do
    :javascript
      $(document).on('click', '.spec-view-all', function() {
        $('.spec-category').css('height', 'unset')
      })
