.tab-content.listing-specs#spec_tab
  .spec-content
    %span
      = @listing.title
  .spec-category
    .spec-model-number
      %span
        Model Number
    .spec-item
      %table.table.col-12
        %tbody
          %tr
            %td{width: '40%'} B&H #
            %td CAE5D4
          %tr
            %td{width: '40%'} Manufacturer #
            %td 1483C002

  .spec-category
    .spec-model-number
      %span
        Imaging
    .spec-item
      %table.table.col-12
        %tbody
          %tr
            %td{width: '40%'} Lens Mount
            %td CAE5D4
          %tr
            %td{width: '40%'} Camera Format
            %td 1483C002
          %tr
            %td{width: '40%'} Lens Mount
            %td CAE5D4
          %tr
            %td{width: '40%'} Camera Format
            %td 1483C002
          %tr
            %td{width: '40%'} Lens Mount
            %td CAE5D4
          %tr
            %td{width: '40%'} Camera Format
            %td 1483C002
          %tr
            %td{width: '40%'} Lens Mount
            %td CAE5D4
          %tr
            %td{width: '40%'} Camera Format
            %td 1483C002
  .spec-view-all.clearfix
    %button
      View All Specs
          
