.common-box{
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  .center-title{
    font-size: 18px;
    text-align: center;
  }
  .title{
    margin-top: 10px;
    color: #616161;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
}

.common-btn{
  font-size: 18px;
  font-weight: initial;
  width: 100%;
  margin: 18px 0px;
}

.common-label-btn{
  margin-right: 15px;
  span{
    cursor: pointer;
    color: #616161;
    display: inline-block;
    border: 1px solid #4eb857;
    border-radius: 5px;
    padding: 10px 15px;
  }
  span:hover{
    opacity: 0.75;
  }
}

.btn-checkout{
  background-color: #4eb857
}

.btn-checkout:hover{
  background-color: #4eb857
}

.uppercase{
  text-transform: uppercase;
}

.fa-fw {
  margin-right: 5px;
}

.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.fz-22{font-size: 22px;}
.fz-24{font-size: 24px;}
.f-color-common{color: #616161}

#arrival_date, #return_date {
  background: url(mf_icons/icon-movri-calendar.svg) no-repeat 325px center;
  background-size: 20px 20px;
  margin-bottom: 20px;
}

.quantity-box{
  color: #757575;
  font-size: 13px;
  width: 90px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  input{
    font-size: 15px;
    border: transparent !important;
    text-align: center;
    min-height: unset !important;
    padding: 0 !important;
  }
  &.error{
    border: 1px solid red;
    color:red;
    input{
      color:red;
    }
  }
}

.br-bottom{border-bottom: 1px solid #bdbdbd;}
.br-top{border-top: 1px solid #bdbdbd;}
.br-l{border-left: 1px solid #bdbdbd;}
.br-r{border-right: 1px solid #bdbdbd;}
.brown-background{background: #f0f0f0;}
.white-background{background: white;}
.padding-0{padding: 0 !important}
.padding-5{padding: 5px !important}
.padding-15{padding: 15px !important}
.padding-bt-15{padding-bottom: 15px !important}
.padding-20{padding: 20px !important}
.margin-0{margin: 0px !important}
.margin-bt-0{margin-bottom: 0 !important}
.margin-bt-20{margin-bottom: 20px !important}
.margin-bt-10{margin-bottom: 10px !important}
.margin-bt-30{margin-bottom: 30px !important}
.margin-bt-50{margin-bottom: 50px !important}
.margin-r-15{margin-right: 15px !important}
.margin-b-t-10{margin-top: 10px !important; margin-bottom: 10px !important}
.brown-font-color{color: #9e9e9e}
.text-r{text-align: right}
.padding-l-15{padding-left: 15px}
.padding-10{padding: 10px !important}
.width-50{width: 50%; padding: 0 12px}
.width-20{width: 20%; padding: 0 12px}
.width-60{width: 60%; padding: 0 12px}
.width-70{width: 70%; padding: 0 12px}
.width-30{width: 30%; padding: 0 12px}
.width-80{width: 80%; padding: 0 12px}
.width-40{width: 40%; padding: 0 12px}
.width-40{width: 40%; padding: 0 12px}
.width-35{width: 35%; padding: 0 12px}
.width-10{width: 10%; padding: 0 12px}
.width-15{width: 15%; padding: 0 12px}
.width-100{width: 100%}
.align-right{text-align: right;}
.align-center{text-align: center;}
.fake-link{color: #13588d; cursor: pointer;}
.bold{font-weight: bold;}
.dp-none{display: none;}
.block{display: block}

.alert-error{
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning{
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success{
  margin: 5px 0;
  padding: 15px;
  border-radius: 5px;
  color: #155724;
  background-color: #d4edda;
  border-color: #d4edda;
}

.quantity-left{
  display: inline-block;
  padding: 5px;
  font-size: 14px;
}
.spinner{
  display: none;
  text-align: center;
  padding: 5px;
  img{width: 30px}
}

.fa-check{
  color: #4eb857;
  position: absolute;
  margin: 12px -25px;
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.btn-submit{
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: #4eb857;
}

.btn-process{
  min-width: 200px;
}

.cut-text{
  max-width : 200px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.common-btn-with-spinner{
  .spinner-gif{
    margin-left: 5px;
    width: 30px;
    position: absolute;
    display: none;
  }
}

.common-link-btn{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #4eb857;
  a{
    color: #616161;
    display: inline-block;
  }
  a:hover{
    color: unset;
    opacity: 0.75;
  }
}

.btn-link{
  a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background: #13588d;
  }
  a:hover{
    color: white;
    opacity: 0.75;
  }
}
.remove-link{
  color: red;
}

.fa-calendar{
  display: inline-flex !important;
  height: 42px;
  width: 42px;
  justify-content: center;
  align-items: center;
  border: 1px solid #9e9e9e;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-left: transparent !important;
  margin-left: -3px
}

.common-input-date-with-icon{
  display: flex;
}

li{
  padding-left: 0 !important;
  list-style: none;
}
