.payment-section{
  .card-info-box{
    .available-card{
      padding: 0 20px;
      .card-title{
        width:20%
      }
      .logo-card{
        img{width: 35px}
        width:80%;
        text-align: right;
      }
    }
    .info{
      border-radius: 0 0 5px 5px;
      padding: 10px;
      background: #f0f0f0;
    }
  }
  .billing-address-partial{
    .label-radio-btn{cursor: pointer; color: #616161; font-style: normal;}
    input[type=radio]{
      margin-right: 15px;
      transform: scale(1.5)
    }
  }
}

.common-br{
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.process-bar{
  margin-top: 20px;
  a{color: black;}
  a:hover{color: black}
  a.active-el{color: #424242;font-weight: bold;}
  a{margin-left:10px; margin-right:10px;}
  a:first-child{margin-left:0px; margin-right:10px;}
}

.cancel-refund-field{
  background: #f9f9f9;
  padding: 10px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  color: #898d96;
  font-size: 15px;
}