.searchbox-algolia{
  input{
    font-size: 18px;
    padding: 15px;
    width: 100%
  }
}

.mobile-display{
  .searchbox-algolia input{display: none}
  .search-result-algolia{
    width: 100%;
  }
}


.search-result-algolia{
  width: 65%;
  display: none;
  margin-top: 5px;
  position: absolute;
  z-index: 1000;
  background: white;
  .snize-thumbnail img{
    width: 70%
  }
}

.ais-RefinementList{
  .ais-RefinementList-list ul{
    padding: 0;
  }
}
.ais-RefinementList-count{
  display: none;
}

.ais-RefinementList-labelText{
  font-weight: 100;
  color: #222222;
}

.ais-RefinementList-label{
  input{transform: scale(1.25)}
  cursor: pointer;
}

.selectize-dropdown{
  display: block;
  position: static;
}

.itemhover, .selected { background-color:#f0f0f0 !important; color:#232323 !important; }

mark{
  background: unset !important;
}
.ais-Highlight-highlighted{
  font-weight: normal;
}

.search-result-algolia{
  padding: 10px 5px;
  li{
    cursor: pointer;
    padding: 5px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    &:hover{
      background: #f0f0f0;
    }
  }
  .product-items{
    li{
      border-bottom: 1px solid #eeeeee;
    }
  }
  .suggestion-items{
    padding: 0 0 0 10px;
  }
  .listing-price{
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    span:first-child{color: #163f77 !important;}
    span:last-child{color: #4eb857 !important;}
  }
  .sku{
    color: #7c7c7c !important;
    font-size: 15px;
    font-weight: 100;
  }
  .width-90{line-height: 1.5}
}

.snize-label{
  padding: 0px 10px 0px;
  font-size: 10px;
  color: #a0a0a0;
  border-bottom: 1px solid #eeeeee;
  background: #f7f7f7;
}

.ais-Pagination-item--selected{
  border: 1px solid #0096db !important;
  background: #0096db !important;
  color: white;
  & a{
    color: white;
  }
}
.ais-Pagination{
  .ais-Pagination-list{
    padding: 0;
    display: flex;
    justify-content: center;
    li{
      border: 1px solid #f0f0f0;
      margin: 0 10px;
      span, a{
        display: block;
        padding: 10px 20px;
      }
      border-radius: 4px;
    }
  }
}

#mobile-categoties-pagination{
  margin-bottom: 20px;
  .ais-Pagination{
    .ais-Pagination-list{
      li{
        background: white;
        border: 1px solid black;
        margin: 0 5px;
        span, a{
          display: block;
          padding: 5px 10px;
        }
        border-radius: 4px;
      }
    }
  }
}

.current-refinements-label{
  background: black;
  color: white;
  font-weight: 700;
  padding: 0.4375rem 0.625rem;
  border: 1px solid black;
  margin-right: 1px;
}

#current-refinements{
  display: flex;
  button{
    background: black;
    padding: 0.4375rem 0.625rem;
    border: 1px solid black;
    border-radius: 0;
    margin-right: 10px;
  }
}

.current-collection--title{
  font-size:34px;
  color: #254e58;
}