.filter-listing
  .group-filter
    %ul
      %li.head Refine
  .group-filter
    %ul
      %li.head Brand
      #refinement-list
  .group-filter
    %ul
      %li.head Price
      #numeric-menu
  .group-filter
    %ul
      %li.head Mount
      #lens-mount
  .group-filter
    %ul
      %li.head Lens Type
      #lens-type
  .group-filter
    %ul
      %li.head Compatibility
      #lens-compatibility