.filter-listing
  .group-filter
    %ul
      %li.head Refine
  #item_type
  #brand_refinement
  #lens-mount
  #lens-type
  #lens-compatibility
  #camera_support_type_refinement
  #camera_type_refinement
  #camcorder_type_refinement
  #sensor_size_refinement
  #action_cam_compatibility_refinement
  #lighting_type_refinement
  #accessory_type_refinement
  #capacity_refinement
  #memory_type_refinement
  #read_transfer_speed_refinement
  #bus_speed_refinement
  #power_compatibility_refinement
  #power_type_refinement
  #support_type_refinement
  #head_type_refinement
  #quick_release_system_refinement
  #color_temperature_refinement
  #filter_size_refinement
  #filter_style_refinement
  #filter_type_refinement
  #audio_type_refinement
  #monitoring_type_refinement
  #camera_support_type_refinement
  #cable_type_refinement
  #hidden-categories

#hidden-categories
#hidden-subcategories.hidden
#hidden-children-categories.hidden