#searchbox.hidden
.row
  .col-12
    .search-result-header

.desktop-display
  .search-result-listings
  .categoties-pagination

.mobile-display
  .brown-background
    .mobile-search-result-listings
    #mobile-categoties-pagination