.cart-header
  .row
    .col-3
      %span My Cart
    .col-7
      %span Subtotal
      .price
        %span
          - price_cents = price_with_all_fee(promo_code)
          = MoneyViewUtils.to_humanized(Money.new(price_cents, 'USD'))
        %span
          \/
          = session[:booking][:total_days]
          days rental
    .col-2
      = button_tag class: "common-btn btn-checkout" do
        %i.icon-lock.fa-fw
        %span.uppercase Checkout
