.common-box.desktop-instructions
  .title
    %p= t('transactions.label.special_instructions')
  .special-instructions-box
    = text_area_tag :instructions, nil, placeholder: t('placeholder.special_instructions')
