.common-box.desktop-promo-code
  %p.title= t('transactions.label.promo_code')
  .promo-code-field
    = text_field_tag :promo_code, nil, class: "promo-code-val"
    = button_tag 'Apply', :class => "common-btn"
  %span.promo-code-error.alert-error.d-none