$color-grey: #617480;
$border-color: #E1E3E5;

#manage-draft-orders {
  .create-order-button {
    float: right;
    margin: 0;
  }
}

#edit-orders-info {
  .mark-fulfilled-button,
  .save-button {
    float: right;
  }

  a {
    color: $color-grey;
  }

  .overall-status {
    word-spacing: 2px;

    .id {
      font-size: 32px;
      font-weight: 600;
    }

    .payment-process,
    .current-state {
      margin-left: 5px;
      border-radius: 15px;
      padding: 3px 8px;
    }

    .grey-span {
      background-color: #DFE3E8;
    }

    .pending-span {
      background-color: #FFC28F;
    }

    .unfulfilled-span {
      background-color: #FAE28E;
    }
  }

  .order-info,
  .payment-info,
  .edit-note,
  .edit-customer-info {
    border: 1px solid $border-color;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

    & > i {
      font-size: 16px;
    }
  }

  .order-info {
    .order-items {
      margin-top: 0.75em;

      .order-item {
        border-bottom: 1px solid $border-color;
        margin-top: 15px;

        img {
          width: 10%;
          vertical-align: text-top;
          margin-right: 5px;
        }

        .total {
          text-align: right;
        }
      }
    }
  }

  .payment-info {
    .payment {
      margin: 0.75em 0;
      border-bottom: 1px solid $border-color;
    }
  }

  .edit-note {
    .row:first-of-type {
      margin-top: 0.75em;
    }
  }

  .edit-customer-info {
    .customer {
      margin-top: 0.75em;
    }
  }

  .action {
    i {
      font-size: 18px;
      margin-right: 15px;
    }
  }
}

#create-draft-order {
  .order-details,
  .find-customer,
  .customer-information {
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 0.75em;
  }

  .search-product,
  .payment-info,
  .email-invoice {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.25em;
  }

  .search-product {
    input {
      width: 85%;
      float: left;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    a {
      width: 15%;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .payment-info {
    .add-note,
    .total-info {
      padding: 0;
    }
  
    .total-info {
      padding-left: 0.75em;

      table {
        margin-top: 1.5em;
      }
    }

    .add-discount {
      &.toggle.toggled {
        background-color: transparent;
        color: #4a90e2;
        border: none;
      }
    }

    .product-list {
      tbody tr:nth-child(odd) {
        background-color: transparent;
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 5px;
      }
    }
  }

  .email-invoice {
    height: 66px;
    line-height: 66px;

    .col-6 {
      padding: 0;
    }
    .col-6:first-of-type {
      i {
        padding: 1.5em 0.75em 0 0;
      }
      
      span {
        font-weight: 600;
      }
    }
  }

  .paid-type {
    height: 66px;
    line-height: 66px;

    & * {
      margin-left: 0.75em;
    }

    p {
      font-weight: 600;
    }

    i {
      padding-top: 1.5em;
    }
  }
}

#browse-product-modal,
#custom-item-modal,
#create-new-customer-modal,
#edit-customer-email-modal,
#edit-customer-address-modal,
#edit-customer-shipping-address-modal,
#edit-customer-billing-address-modal,
#send-invoice-email-modal,
#review-email-modal,
#cancel-booking-modal,
#refund-modal,
#edit-billing-address,
#edit-shipping-address,
#edit-contact-information,
#edit-customer-note {
  max-width: 100%;
  width: 40%;

  &.modal {
    padding: 0;

    .footer {
      margin-bottom: 0;
      padding: 0 0.75em !important;
    }

    .row {
      padding: 0.75em;
    }

    .title {
      border-bottom: 1px solid $border-color;
      font-size: 24px;
    }
  }
}

#refund-modal { 
  width: 70%;

  img {
    width: 50px;
    height: 50px;
  }
}

#browse-product-modal {
  .products {
    height: 400px;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .col-12 {
      padding: 0.75em 0;
      border-bottom: 1px solid $border-color;

      img {
        border-radius: 3px;
        vertical-align: middle;
        width: 35px;
        height: 30px;
      }

      span {
        margin: 0.25em;
      }

      input[type='checkbox'] {
        margin: 0.5em;
        margin-left: 0;
      }
    }

    .col-12:hover {
      background-color: #f5f5f5;
    }
  }

  .footer {
    p {
      padding: 1.25em 0;
    }
  }
}

#review-email-modal {
  .email-content {
    border: 1px solid #E1E3E5;
    border-radius: 8px;
    margin-top: 1.25em;
  }
}

#header-toggle-menu-discount,
#header-toggle-menu-tax {
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background: white;

  .row {
    padding: 0.75em;
  }
}

ul.ui-autocomplete.ui-menu {
  width: 325px;
  border-radius: 8px;
  border: 1px solid #9e9e9e;
  background-color: white;
  list-style: none;
}

#customer-information {
  .header-section {
    margin-bottom: 0.75em;
  }

  img {
    height: 60px;
    width: 60px;
  }

  .shipping-address,
  .billing-address {
    p {
      line-height: 10px;
      color: #617480;
    }
  }

  h3 {
    font-weight: 600;
  }

  i {
    padding: 0.25em;
  }
}