#myTopnav.topnav.flex-items
  - @main_categories.each do |main_category|
    .dropdown
      %button.dropbtn
        = link_to @category_display_names[main_category.id], categories_path(categories: main_category), class: 'main-cat'
      .dropdown-content
        - if main_category.all_subcategories.any?
          - main_category.all_subcategories.each do |subcategory|
            %ul
              %li
                .dropdown
                  %button.dropbtn
                    .flex-items
                      .width-80
                        = link_to @category_display_names[subcategory.id], categories_path(categories: subcategory), class: "category-bar-label"
                      .width-20.algin-right
                        - if subcategory.all_children_categories.any?
                          %i.fa.fa-chevron-right
                  .dropdown-content.children-category
                    - if subcategory.all_children_categories.any?
                      - subcategory.all_children_categories.each do |child|
                        = link_to @category_display_names[child.id], categories_path(categories: child), class: "category-bar-label width-100"
  %a.icon.icon-reorder.category-menu-mobile{:href => "javascript:void(0);"}

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      $(document).on('click', '.category-menu-mobile', function() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      });

      $('input[name="q"]').click(function() {
        if ($(this).val() != '') {
          var search_result = $('#search-results');
        } else {
          var search_result = $('#search-history');
        }
        $(search_result).css('display', 'block');
      });

      $(document).click (function (e) {
        if (e.target != $('.header-search-input')[0]) {
          var search_result = $('.search-dropdown');
          $(search_result).css('display', 'none');
        }
      });
    });