#myTopnav.topnav.flex-items.font-open-sans
  - @main_categories.each do |main_category|
    .dropdown
      %button.dropbtn
        = main_category.url_name
      .dropdown-content
        - if main_category.all_subcategories.any?
          - main_category.all_subcategories.each do |subcategory|
            %ul
              %li
                .dropdown
                  %button.dropbtn
                    .flex-items
                      .width-80
                        - if subcategory.all_children_categories.any?
                          .category-bar-label= subcategory.url_name
                        - else
                          = link_to subcategory.url_name, categories_path(subcategories: subcategory), class: "category-bar-label"
                      .width-20.algin-right
                        - if subcategory.all_children_categories.any?
                          %i.fa.fa-chevron-right
                  .dropdown-content.children-category
                    - if subcategory.all_children_categories.any?
                      - subcategory.all_children_categories.each do |child|
                        %ul
                          %li
                            = link_to child.url_name, categories_path(children_categories: child), class: "category-bar-label width-100"

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      $('input[name="q"]').click(function() {
        if ($(this).val() != '') {
          var search_result = $('#search-results');
        } else {
          var search_result = $('#search-history');
        }
        $(search_result).css('display', 'block');
      });

      $(document).click (function (e) {
        if (e.target != $('.header-search-input')[0]) {
          var search_result = $('.search-dropdown');
          $(search_result).css('display', 'none');
        }
      });
    });