%ul.toggle-menu#header-contact.hidden
  %li
    = image_tag("mf_icons/icon-movri-phone.svg", class: 'contact-icon')
    %span
      800.894.9703
  %li
    = image_tag("mf_icons/icon-movri-email.svg", class: 'contact-icon')
    %span
      Email Us
  %li
    = image_tag("mf_icons/icon-movri-help.svg", class: 'contact-icon')
    %span
      Help Center
