= link_to({:sort => column, :direction => direction, :page => (params[:page] || 1), transaction_type: transaction_type, q: @params_query }, {:class => "sort-link"}) do
  .sort-text-wrapper
    .sort-text
      =title
  - if params[:sort].eql?(column)
    %div{:class => "sort-arrow-#{direction}"}
      - if direction.eql?('asc')
        ▼
      - else
        ▲
